::-webkit-scrollbar {
    display: none;
}

#splash_logo_div {
    margin-top: 30%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    margin-top: 10px;
    font-size: 5.8rem;
}

.sign-in-text {
    text-align: center;
}

.login-text {
    font-family: NunitoSemiBold;
    font-size: 1.4rem;
    text-align: center;
    color: #758692;
    letter-spacing: 0.34px;
    line-height: 42px;
    font-weight: 700;
}

.login-fb {
    max-width: 80%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.login-twitter {
    max-width: 80%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.login-fb-comein {
    max-width: 80%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 60px;
    -webkit-transition: width 2s;
    /* Safari */
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

.login-twitter-comein {
    max-width: 80%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    -webkit-transition: width 2s;
    /* Safari */
    transition: width 2s;
    transition-timing-function: ease-in-out;
}